.text-muted {
  @apply text-muted-500 hover:text-muted-600 dark:text-muted-400 dark:hover:text-muted-300 font-bold;
}

.text-muted-active {
  @apply text-muted-600 hover:text-muted-700 dark:text-muted-300 dark:hover:text-muted-200 font-bold;
}

.text-xs {
  @apply font-bold;
}

.text-sm {
  @apply font-bold;
}

.text-md {
  @apply font-bold;
}

.text-base {
  @apply font-bold;
}

.text-lg {
  @apply font-bold;
}

.text-xl {
  @apply font-bold;
}





